<div class="container">

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><a href=" /student/show/ <%= student.id %> "> <%= student.name %> </a></td>
        <td><a href="#"> <%= student.email %> </a></td>
        <td><a class="btn btn-primary" href="/student/edit/<%= student.id %> "> Edit</a> </td>
        <td><a class="btn btn-danger" href=" /student/destroy/<%= student.id %>" data-method="delete" data-confirm="Are you sure?" > delete</a> </td>
      </tr>
    <% end %>
  </table>

</div>
